body {
	background: #000;
	user-select:none;
}

.buttons .button {
	width: 80px;
	height: 80px;
	display: inline-block;
	border-radius: 3px;
	background-color: #fff;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 2px;
	vertical-align: top;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	font-weight: bold;
	user-select:none;
}

.buttons .button::focus {
	background-color: #f00;
}
