body, html {
	background: #000;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select:none;
	font-family: 'Roboto', sans-serif;
	transition: all 50ms;
	color: #fff;
}

.buttons {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
	text-align: justify-all;
}

.buttons .button {
	min-width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 3px;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	box-sizing: border-box;
	margin: 1px 1px;
	vertical-align: top;
	text-align: center;
	line-height: 40px;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	user-select:none;
	transition: all 50ms;
}

.buttons .button i {
	height: 40px;
	font-size: 40px;
}


.button:active {
	box-shadow:0 0 10px 1px rgba(255,255,255,1), inset 0 0 10px 1px rgba(255,255,255,1);
}

.full-line {
	width: 90%;
	height: 60px;
	padding: 10px;

	max-width: 100%;

}
.full-line span {
	margin: 2px;
}
.full-line [type="range"] {
	width: 90%;
	margin: auto;
}
